[submodule "blog_backend"]
	path = blog_backend
	url = https://github.com/chromko/blog_backend
[submodule "blog_ui"]
	path = blog_ui
	url = https://github.com/chromko/blog_ui
[submodule "mongodb"]
	path = mongodb
	url = https://github.com/chromko/mongodb
[submodule "golang"]
	path = golang
	url = https://github.com/chromko/golang
[submodule "ruby"]
	path = ruby
	url = https://github.com/chromko/ruby
[submodule "ubuntu"]
	path = ruby
	url = https://github.com/chromko/ubuntu
